@model Topo.Models.OAS.OASIndexViewModel

@{
    ViewData["Title"] = "OAS Report Page";
}

<form class="row g-3" asp-action="Index">

    <div class="mt-3 mb-3 row">
        <label class="col-sm-2 col-form-label">Please select a Unit:</label>
        <div class="col-sm-2 ">
            @Html.DropDownListFor(m => m.SelectedUnitId, Model.Units, "Select Unit", new { @class ="form-select" })
            <span asp-validation-for="SelectedUnitId" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Please select a Stage:</label>
        <div class="col-sm-6 ">
            @Html.DropDownListFor(m => m.SelectedStages, Model.Stages, new { @class ="form-select select2", @multiple = "multiple"})
            <span asp-validation-for="SelectedStages" class="text-danger"></span>
        </div>
    </div>
    <div class="mt-3 mb-3 row">
        <div class="col-sm-2">
            <button type="submit" name="button" value="OASReportPdf" class="btn btn-primary">OAS Worksheet (pdf)</button> &nbsp;
        </div>
        <div class="col-sm-2">
            <button type="submit" name="button" value="OASReportXlsx" class="btn btn-success">OAS Worksheet (xlsx)</button> &nbsp;
        </div>
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.HideCompletedMembers) &nbsp;
            @Html.CheckBoxFor(model => model.HideCompletedMembers, new { id = "hideCompletedMembersCheckBoxId" })
        </div>
    </div>

</form>

@section Scripts {

<script type="text/javascript">

    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function() {
        $('.select2').select2({placeholder: "Select one or more stages"});
    });

</script>
    }