@model Topo.Models.Home.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<form class="row g-3" asp-action="Index">
    @if (!Model.IsAuthenticated)
    {
        <div class="mt-3 mb-3 row">
            <h2>Topo, helping you navigate the Terrain</h2>
            <p>Please login</p>
            <p>@Html.ActionLink("Login", "Login", "Login", null, new { @class = "btn btn-primary" })</p>
        </div>
    }
    else
    {
        <div class="mt-3 mb-3 row">
            <h2>Welcome @Model.FullName</h2>
        </div>
        <div class="mb-3 row">
            <p>
                Use Member Lists to see the members of your units, print patrol lists and patrol corner lists.
            </p>
            <p>
                Use Program Events to see the calendar of your units, print sign in sheets and print attendance lists.
            </p>
        </div>
    }
</form>
